<section id="list">
  <ul>
    {{#list}}
      {{>list_item}}
    {{/list}}
  </ul>
</section>
<section id="form">
  <input type="text" placeholder="Add item">
  <button class='submit'>Add</button>
</section>
{{>stats}}
