<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <title>Quartermaster{{#title}}: {{title}}{{/title}}</title>
  </head>
  <body>
    {{{yield}}}
    <script src="/assets/vendor/hogan.js"></script>
    <script src="/assets/templates.js"></script>
    <script src="/assets/app.js"></script>
  </body>
</html>