<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <title>Quartermaster{{#title}}: {{title}}{{/title}}</title>
    <style>
      li a{
        display: inline-block;
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    {{{yield}}}
    <script src="/assets/app.js"></script>
  </body>
</html>