<form method='post' action='/users/create'>
  <label>SMS Number:</label>
  <input name="phone" autocomplete="tel" type="tel" placeholder="+12135551234">

  <label>And your name?</label>
  <input name="name" autocomplete="name" type="text" placeholder="Customer Man">

  <button type="submit">OK</button>
</form>