body{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0 10px;
  line-height: 40px;
}
li a{
  display: inline-block;
}
.delete-item{
  background-color: rgba(0,255,0,0.8);
  color: rgba(0,0,0,0.2);
  font-size: 12px;
  height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 60px;
}
#form{
  padding: 10px;
}
#form input[type=text]{
  width: 225px;
}
#form button{
  width: 60px;
}