body{
  font-family: Avenir;
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0 10px;
  line-height: 40px;
}
li a{
  display: inline-block;
}
.delete-item{
  background-color: rgba(255,0,0,0.2);
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: 60px;
}
#form{
  position: relative;
}
#form input[type=text]{
  -webkit-appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-family: Avenir;
  background-color: rgba(0,0,0,0.05);
}
::-webkit-input-placeholder{
  color: rgba(0,0,0,0.5);
}
#form button{
  -webkit-appearance: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  border: none;
  height: 100%;
  background-color: rgba(0,0,255,0.2);
  font-family: Avenir;
  color: rgba(0,0,0,0.5);
}
